@font-face {
  font-family: "icomoon";
  src: url("../assets/icon-fonts/icomoon.eot");
  src: url("../assets/icon-fonts/icomoon.eot?p9ds01#iefix")
      format("embedded-opentype"),
    url("../assets/icon-fonts/icomoon.ttf?p9ds01") format("truetype"),
    url("../assets/icon-fonts/icomoon.woff?p9ds01") format("woff"),
    url("../assets/icon-fonts/icomoon.svg?p9ds01#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
